@{
    ViewBag.Title = "Home Page";
}

<div style=" backface-visibility:lightShyBlue" class="Jumbotron">
    <hi>Going Merry</hi>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Hacia el grand line</h2>
        <p>
            Vamos por el one piece, iniciemos conformando la tripulacion
        </p>

    </div>

</div>